body {
    width: 1024px;
    margin: auto;
}

header {
    height: 95px;
    background-color: #2d303a;
    display: flex;
    justify-content: center;

}

h1 {
    color: white;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 371px;
}

.navigatio-point {
    width: 2px;
    height: 2px;
    background-color: #404455;
}

nav span {
    color: white;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
}

span:hover{
    color: #f06c64;
}

/* span.hover-star:hover {
    color: #f06c64;
} */

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;

}

.section-one {
    height: 600px;
    background-color: #f06c64;
}

.content-section-one {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.arrow-left {
    /* font-size: 30px;
    font-family: 'Lato', sans-serif; */
}

.vertical-phone {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 215px;
    height: 458px;
    background-color: #f2f2f2;
    border-radius: 16px;
}

.vertical-phone .front-camera {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px; 
    width: 10px;
    height: 10px;
    background-color: #d8d8d8;
    border-radius: 50%;
}

.vertical-phone .front-camera .red-point {
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
}

.vertical-phone .speaker {
    margin-top: 10px;
    width: 36px;
    height: 5px;
    background-color: #acacac;
    border-radius: 5px;
}