body {
    width: 1020px;
    margin: 0 auto;
}

h2, h3, p, span{
    color: rgba(240, 216, 217, 255);
    font-family: 'Lato', sans-serif;
}

.section-four {
    display: flex;
    background-color: #f06c64;
}

.content-section {
    margin: 0 auto;
    width: 940px;
}

.main-container {
    display: flex;
    justify-content: flex-start;
}

.text-container > p {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
}

.main-container > .form-box {
    margin-bottom: 67px;
    height: 364px;
}

.main-container > .form-box > form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

.form-box > form > input, textarea {
    background-color: #d6564f;
    border: 1px solid #d6564f;
    border-radius: 3px;
}

.form-box > form > input {
    margin-bottom: 16px;
    height: 36px;
    width: 617px;
}

.form-box > form > input::placeholder, textarea::placeholder{
    padding-left: 15px;
    font-size: 12px;
    line-height: 21.56px;
    font-weight: 400;
    color: rgba(244, 140, 143, 255);
    text-align: justify;
}

.form-box > form > textarea {
    width: 613px;
    height: 200px;
}

.contact-box .fa-map-marker-alt, .fa-phone, .fa-envelope {
    font-size: 12px;
    color: rgba(240, 216, 217, 255);
}

.between-line-six {
    height: 6px;
    background-color: #ea676b;
}

footer {
    background-color: #2d303a;
}

.content-section.footer-section {
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-contact-box {
    display: flex;
    justify-content: space-between;
    width: 152px;
}

.fab {
    color: #69708b;
}

.social-contact-box > .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #69708b;
    border-radius: 50%;
    cursor: pointer;
}