body {
    width: 1024px;
    margin: 0 auto;
}

header {
    height: 89px;
    width: 1024px;
    background-color: #2d303a;
    display: flex;
    justify-content: center;
    z-index: 3;
}

.fixed {
    position: fixed;
}

.fixed::after {
    height: 6px;
    background-color: #323746;
}

.content-header h1 {
    margin: 0;
    padding: 0 0 3px 0;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 6.32px;
    letter-spacing: -.4px;
    text-align: justify;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

h1 span {
    color: #f06c64;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 372px;
}

nav > .menu-link {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 6.32px;
    text-align: justify;
    text-decoration: none;
}

nav > .active-link {
    color: #ea676b;
    outline: none !important;
}

nav > .menu-link::before {
    content: ".";
    position: relative;
    right: 11px;
    bottom: 2px;
    color: #FFFFFF;
    font-size: 16px;
    opacity: .2;
}

nav > .menu-link:nth-child(1)::before{
    content: "";
}

p {
    font-family: 'Lato', sans-serif;
    color:  rgba(118, 126, 158, 255);
}

nav a:hover{
    color: #f06c64;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

main {
    padding-top: 89px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;

}

.section-one {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 594px;
    background-color: #f06c64;
}

.content-section-one {
    margin: 0 auto;
    margin-bottom: 6px;
    width: 938px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-left {
    width: 16px;
    height: 27px;
    background-image: url(assets/rigthArrow.svg);
    opacity: 0.5;
    cursor: pointer;
}

.arrow-left:hover {
    opacity: 1;
}

.content-section-one > .phone-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.black-display {
    background-color: black;
}

.vertical-phone {
    position: relative;
    width: 240px;
    height: 483px;
}

.vertical-phone > .vertical-phone-container {
    position: absolute;
    width: 240px;
    height: 483px;
    background-image: url(assets/iPhone-Vertical.png);
    z-index: 1;
}

.vertical-phone > .black-display {
    position: absolute;
    top: 65px;
    left: 14px;
    height: 333px;
    width: 189px;
    z-index: 0;
}

.horizontal-phone {
    margin-left: 73px;
    position: relative;
    width: 483px;
    height: 240px;
}

.horizontal-phone > .horizontal-phone-container {
    position: absolute;
    width: 483px;
    height: 240px;
    background-image: url(assets/iPhone-Horizontal.png);
    z-index: 1;
}

.horizontal-phone > .black-display {
    position: absolute;
    top: 14px;
    left: 60px;
    height: 189px;
    width: 333px;
    z-index: 0;
}

.content-section-one .phone-btn {
    position: absolute;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
}

.content-section-one .phone-btn:hover {
    background-color: gray;
    opacity: 0.3;
}

.three-phones {
    width: 517px;
    height: 513px;
    background-image: url(/assets/second-phone-slide.png);
}

.arrow-right {
    width: 16px;
    height: 27px;
    background-image: url(assets/leftArrow.svg);
    opacity: 0.5;
    cursor: pointer;
}

.arrow-right:hover {
    opacity: 1;
}

.between-line-two {
    height: 6px;
    background-color: #ea676b;
}

.section-two {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    height: 494px;
}

.content-section-two {
    display: flex;
    flex-direction: column;
    width: 944px;
}

.description-container {
    width: 944px;
    height: 173px;
    overflow: hidden;
}

.description-container h2 {
    margin: 69px 0 26px 2px;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    color: rgba(102, 109, 137, 255);
    font-weight: 900;
    line-height: 17.87px;
    text-align: justify;
    letter-spacing: -.1px;
}

.description-container p {
    margin: 0 0 0 3px;
    padding-top: 1px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    text-align: justify;
}

.icon-description-container {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.icon-description-container .first-line-description,  .second-line-description{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.second-line-description {
    margin-top: 22px;
}

.customDesign-box, .inovativeIdeas-box, .loveIsTheAnswer-box,
.responsiveLayout-box, .support-box, .feelLikeAStar-box {
    display: flex;
    justify-content: flex-start;
    width: 300px;
    height: 100px;
}

.customDesign-box .image-box .circle,
.inovativeIdeas-box .image-box .circle, 
.loveIsTheAnswer-box .image-box .circle, 
.responsiveLayout-box .image-box .circle,
.support-box .image-box .circle,
.feelLikeAStar-box .image-box .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: #f2f2f2;
    border-radius: 50%;
    border: 1px solid #666d89;
}

.customDesign-box, .responsiveLayout-box {
    margin-left: 4px;
}

.inovativeIdeas-box, .support-box {
    margin-left: -2px;
}

.customDesign-box .image-box .circle .image {
    width: 34px;
    height: 34px;
    background-image: url(assets/pen.svg);
}

.inovativeIdeas-box .image-box .circle .image {
    width: 26px;
    height: 34px;
    background-image: url(assets/bulb.svg);
}

.loveIsTheAnswer-box .image-box .circle .image {
    width: 36px;
    height: 30px;
    background-image: url(assets/heart.svg);
}

.responsiveLayout-box .image-box .circle .image {
    width: 26px;
    height: 34px;
    background-image: url(assets/phone.svg);
}

.support-box .image-box .circle .image {
    width: 34px;
    height: 28px;
    color: #666d89;
    background-image: url(assets/bubble.svg);
}

.feelLikeAStar-box .image-box .circle .image {
    width: 38px;
    height: 34px;
    color: #666d89;
    background-image: url(assets/star.svg);
}

.text-box {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 222px;
    height: 90px;
}

.loveIsTheAnswer-box .text-box, .feelLikeAStar-box .text-box {
    margin-left: 20px;
}

.text-box h3 {
    margin: -2px 0 11px 0;
    color: #666d89;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 17.86px;
    font-weight: 900;
    text-align: justify;
}

.text-box p {
    margin: 0;
    font-size: 12px;
    line-height: 21.56px;
    font-weight: 400;
    text-align: justify;
}

.between-line-three {
    height: 6px;
    background-color: #ffffff;
}

.section-three {
    display: flex;
    background-color: #2d303a;
}

.content-section {
    margin: 0 auto;
    width: 940px;
}

.text-container > h2 {
    margin: 70px 0 0 0;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    line-height: 17.86px;
    font-weight: 900;
    color:  rgba(118, 126, 158, 255);
    text-align: justify;
}

.text-container p{
    margin: 27px 0 0 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    text-align: justify;
}

.section-four .text-container > p{
    margin: 26px 0 0 0;
}

.content-section .button-container {
    margin-top: 11px;
    display: flex;
    justify-content: space-between;
    width: 288px;
    height: 22px;
}

.content-section .button-container .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #666d89;
    border-radius: 5px;
    cursor: pointer;
}

.content-section .button-container .button:hover {
    border: 1px solid white;
}

.content-section .button-container .button:hover span{
    color: white;
}

.content-section .button-container .button.one {
    width: 29px;
}

.content-section .button-container .button.two {
    width: 76px;
}

.content-section .button-container .button.three {
    /* margin-left: 2px; */
    width: 91px;
}

.content-section .button-container .button.four {
    width: 54px;
}

.content-section .button-container .button span {
    padding: 0 0 2px 1px;
    font-family: 'Lato', sans-serif;
    color:  rgba(118, 126, 158, 255);
    font-size: 12px;
    line-height: 21,56px;
    font-weight: 400;
    text-align: justify;
}

.portfolio-image-container {
    margin: 18px 0 68px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 600px;
    /* width: 940px; */
    /* overflow: hidden; */
}

.portfolio-image-container .image-box {
    width: 220px;
    height: 187px;
    cursor: pointer;
}

.portfolio-image-container .image-box:hover {
    box-shadow: 0 0 10px 1px black;
}

.portfolio-image-container .image-box.image-1 {
    background-image: url(assets/singolo-portfolio-image-1.png);
}

.portfolio-image-container .image-box.image-2 {
    background-image: url(assets/singolo-portfolio-image-2.png)
}

.portfolio-image-container .image-box.image-3 {
    background-image: url(assets/singolo-portfolio-image-3.png)
}

.portfolio-image-container .image-box.image-4 {
    background-image: url(assets/singolo-portfolio-image-4.png)
}

.portfolio-image-container .image-box.image-5 {
    background-image: url(assets/singolo-portfolio-image-5.png)
}

.portfolio-image-container .image-box.image-6 {
    background-image: url(assets/singolo-portfolio-image-6.png)
}

.portfolio-image-container .image-box.image-7 {
    background-image: url(assets/singolo-portfolio-image-7.png)
}

.portfolio-image-container .image-box.image-8 {
    background-image: url(assets/singolo-portfolio-image-8.png)
}

.portfolio-image-container .image-box.image-9 {
    background-image: url(assets/singolo-portfolio-image-9.png)
}

.portfolio-image-container .image-box.image-10 {
    background-image: url(assets/singolo-portfolio-image-10.png)
}

.portfolio-image-container .image-box.image-11 {
    background-image: url(assets/singolo-portfolio-image-11.png)
}

.portfolio-image-container .image-box.image-12 {
    background-image: url(assets/singolo-portfolio-image-12.png)
}

.between-line-four {
    height: 6px;
    background-color: #323746;
}

.section-four {
    display: flex;
    background-color: #f2f2f2;
}

.person-container {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.jensen-box, .miles-box, .visari-box {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.person-container:nth-child(2) {
    margin-right: 1px;
}

.person-image-box {
    width: 300px;
    height: 300px;
}

.person-image-box.jensen-image {
    background-image: url(assets/Jensen-image.png);
}

.person-image-box.miles-image {
    background-image: url(assets/Miles-image.png);
}

.person-image-box.visari-image {
    background-image: url(assets/Visari-image.png);
}

.section-four .person-container h3 {
    margin: 18px 0 0 0;
    font-family: 'Lato', sans-serif;
    color:  rgba(118, 126, 158, 255);
    font-size: 18px;
    line-height: 17.86px;
    font-weight: 900;
    text-align: justify;
    overflow: hidden;
    width: 300px;
    height: 17px;
    letter-spacing: -.1px;
}

.section-four .person-container p {
    margin: 9px 0 0 0;
    font-size: 12px;
    line-height: 21.56px;
    font-weight: 400;
    text-align: justify;
}

.person-container > .jensen-box > p {
    letter-spacing: -.1px;
}

.person-container .contact-box {
    margin: 25px 0 67px 0;
    width: 152px;
    display: flex;
    justify-content: space-between;
}

.person-container .contact-box > .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #69708b;
    border-radius: 50%;
    cursor: pointer;
}

.person-container .contact-box > .circle:hover {
    background-color: #4c6ef5;
}

.person-container .contact-box > .circle:hover .fa-facebook-f{
    color: white;
}

.person-container .contact-box > .circle:hover .fa-twitter{
    color: white;
}

.person-container .contact-box > .circle:hover .fa-linkedin-in{
    color: white;
}

.fab {
    color: #666d89;
}

.between-line-five {
    height: 6px;
    background-color: #ffffff;
}

/* ssfsf */

.section-five {
    display: flex;
    background-color: #f06c64;
}

.content-section {
    margin: 0 auto;
    width: 940px;
}

.section-five > .content-section > .text-container > h2 {
    color: rgba(240, 216, 217, 255);
    font-family: 'Lato', sans-serif;
    margin-top: 69px;
    font-size: 30px;
    font-weight: 900;
    line-height: 17.86px;
    text-align: justify;
}

.section-five > .content-section > .text-container > p {
    margin-top: 27px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
    color: rgba(240, 216, 217, 255);
}

.main-container {
    margin-top: 43px;
    display: flex;
    justify-content: flex-start;
}

.main-container > .contact-box {
    margin-left: 20px;
}

.main-container > .contact-box h3 {
    margin: 1px 0 0 0;
    font-weight: 900;
    font-size: 18px;
    line-height: 17.86px;
    color: rgba(240, 216, 217, 255);
    font-family: 'Lato', sans-serif;
    letter-spacing: -.1px;
}

.main-container > .contact-box p {
    margin-top: 11px;
    letter-spacing: -.1px;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    text-align: justify;
    color: rgba(240, 216, 217, 255);
    font-family: 'Lato', sans-serif;
}

.contact-box > .contacts {
    margin-top: 22px;
}

.contact-box > .contacts i {
    margin-left: 4px;
    font-size: 11px;
}

.contact-box > .contacts span {
    color: rgba(240, 216, 217, 255);
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    line-height: 21.56px;
    font-weight: 400;
}

.contact-box > .contacts > .adres span{
    margin: 2px 0 0 7px;
}

.contact-box > .contacts > .number-phone span{
    margin-left: 5px;
}

.contact-box > .contacts > .mail{
    margin-top: 3px;
}

.contact-box > .contacts > .mail span{
    margin-left: 4px;
}

.contact-box > .contacts a {
    text-decoration: none;
}

.main-container > .form-box {
    margin-bottom: 67px;
    height: 364px;
}

.main-container > .form-box > form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

.form-box > form > input, textarea {
    background-color: #d6564f;
    border: 1px solid #d6564f;
    border-radius: 5px;
}

.form-box > form > input {
    margin-bottom: 16px;
    width: 594px;
    padding: 10px 10.8px 11px 13.2px;
    font-family: "Lato";
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    color: #f2888b;
}

.form-box > form > input::placeholder, textarea::placeholder{
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    line-height: 21.56px;
    font-weight: 400;
    color: rgba(244, 140, 143, 255);
    /* text-align: justify; */
    /* letter-spacing: .3px; */
}

.form-box > form > textarea::placeholder {
    font-family: 'Lato', sans-serif;
}

.form-box > form > input:nth-child(5) {
    margin-top: 16px;
    height: 34px;
    width: 100px;
    cursor: pointer;
}

.form-box > form > input:nth-child(5):hover {
    background-color: white;
}

.form-box > form > textarea {
    padding: 7px 10.8px 11px 13.2px;
    width: 594px;
    height: 183px;
    background-color: d6564f;
    font-family: "Lato";
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    color: #f2888b;
    resize: none;
}

.contact-box .fa-map-marker-alt, .fa-phone, .fa-envelope {
    font-size: 12px;
    color: rgba(240, 216, 217, 255);
}

.between-line-six {
    height: 6px;
    background-color: #ea676b;
}

footer {
    background-color: #2d303a;
}

.content-section.footer-section {
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-section.footer-section > span {
    font-family: 'Lato', sans-serif;
    padding-bottom: 2px;
    color: #69708b;
    font-size: 12px;
    text-align: justify;
}

.social-contact-box {
    display: flex;
    justify-content: space-between;
    width: 152px;
}

.circle > .fab {
    color: #69708b;
}

.social-contact-box > .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #69708b;
    border-radius: 50%;
    cursor: pointer;
}

.social-contact-box > .circle:hover {
    background-color: #4c6ef5;
}

.social-contact-box > .circle:hover .fa-facebook-f{
    color: white;
}

.social-contact-box > .circle:hover .fa-twitter{
    color: white;
}

.social-contact-box > .circle:hover .fa-linkedin-in{
    color: white;
}