html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
}

.content {
    margin: 0 auto;
    padding: 0px 40px;
    max-width: 940px;
}

p {
    font-family: 'Lato', sans-serif;
    color:  rgba(118, 126, 158, 255);
}

header {
    position: fixed;
    margin: auto;
    height: 89px;
    width: 100%;
    background-color: #2d303a;
    z-index: 9999;
    border-bottom: 6px solid #323746;
}

.slider-section, .section-two, .section-three, .section-four, .section-five {
    scroll-margin-top: 95px;
}

.content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}

.burger {
    display: none;
    position: absolute;
    left: 20px;
    margin-top: 2px;
    z-index: 9998;
    width: 25px;
    height: 20px;
    background-color: transparent;
    background-image: url(./assets/Burger-menu-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.6s;
    cursor: pointer;
    border: none;
}

.rotated90 {
    transform: rotate(90deg);
}

h1 {
    margin: 0;
    padding: 0 0 3px 0;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 6.32px;
    letter-spacing: -.4px;
    text-align: justify;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

h1 span {
    color: #f06c64;
}

nav {
    margin-top: 9px;
    letter-spacing: -0.005em;
    white-space: nowrap;
}

nav ul {
    margin: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav a {
    position: relative;
    font-size: 12px;
    text-decoration: none;
    color: #f06c64;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 6.32px;
    text-align: justify;
    text-decoration: none;
}
  
nav li:not(:first-child) a {
    margin-left: 2.19em;
}
  
nav li:not(:first-child) a::before {
    content: "·";
    position: absolute;
    top: 4px;
    left: -1.35em;
    color: white;
    border-radius: 50%;
}
  
nav a:not(.active-link) {
    color: white;
    cursor: pointer;
}
  
nav a.active-link {
    cursor: default;
    color: #ea676b;
}

nav > .active-link {
    color: #ea676b;
    outline: none !important;
}

main {
    padding-top: 95px;
}

/*   slider   */

.slider-section {
    width: 100%;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    transition: all 0.6s ease-in-out;
}

.active-color {
    background-color: #648BF0 !important;
    border-bottom: 6px solid #5d81de !important;
}

.item-container {
    position: relative;
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
}

.item {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: none;
    animation: 0.6s ease-in-out;
}

.active,
.next {
    display: flex;
    justify-content: center;
}

.next {
    position: absolute;
}

.phone {
    position: relative;
    display: flex;
    width: 23.5294vw;
    height: 47.3529vw;
}

.vertical-phone {
    z-index: 401;
    left: 0;
    right: auto;
}

.phone-display {
    position: absolute;
    bottom: auto;
    top: 13.3%;
    left: 5.5%; 
    z-index: 3;
    width: 78.95%;
    height: 69.7%;
    background-image: url(./assets/1-phone-vertical-screen.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.phone-frame {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 90%;
    height: 94.824%;
    background-image: url(./assets/1-phone.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.phone-shadow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url(./assets/1-phone-shadow.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.horizontal-phone {
    z-index: 400;
    left: auto;
    right: 11.9vw;
    margin: 0;
    margin-left: 31vw;
    transform: rotate(90deg);
}

.horizontal-phone > .phone-display {
    background-image: url(./assets/1-phone-horizontal-screen.png);
}

.horizontal-phone > .phone-shadow {
    transform: scale(-1,1);
}

.three-phones {
    width: 50.60588vw;
    height: 50.2941vw;
}

.phone-btn {
    position: absolute;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    z-index: 9999;
    cursor: pointer;
}

.phone-btn:hover {
    background-color: gray;
    opacity: 0.3;
}

.arrow-left {
    width: 16px;
    height: 27px;
    background-image: url(assets/rigthArrow.svg);
    opacity: 0.5;
    cursor: pointer;
    z-index: 9998;
}

.arrow-left:hover {
    opacity: 1;
}

.arrow-right {
    width: 16px;
    height: 27px;
    background-image: url(assets/leftArrow.svg);
    opacity: 0.5;
    cursor: pointer;
    z-index: 9998;
}

.arrow-right:hover {
    opacity: 1;
}

.item.to-left {
    animation-name: left;
}

.item.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.item.from-left{
    animation-name: left;
    animation-direction: reverse;
}

.item.from-right{
    animation-name: right;
}

@media (min-width: 1020px) {
    .three-phones {
        width: 517px;
        height: 513px;
    }

    .phone {
        width: 240px;
        height: 483px;
    }

    .horizontal-phone {
        right: 13%;
        margin-left: 33.7%;  
    }
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0%;
    }
}

/* Our Services */

.section-two {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    height: initial;
    border-bottom: 6px solid #ffffff;
}

.description-container h2 {
    margin: 69px 0 26px 2px;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    color: rgba(102, 109, 137, 255);
    font-weight: 900;
    line-height: 17.87px;
    text-align: justify;
    letter-spacing: -.1px;
}

.description-container p {
    margin: 0 0 0 3px;
    padding-top: 1px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    text-align: justify;
}

.icon-description-container {
    margin: 27px 0 48px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item-responsive {
    display: flex;
    justify-content: flex-start;
    margin: 16px 10px;
    flex: 1 0 30%;
}

.customDesign-box .image-box .circle,
.inovativeIdeas-box .image-box .circle, 
.loveIsTheAnswer-box .image-box .circle, 
.responsiveLayout-box .image-box .circle,
.support-box .image-box .circle,
.feelLikeAStar-box .image-box .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: #f2f2f2;
    border-radius: 50%;
    border: 1px solid #666d89;
}

.customDesign-box .image-box .circle .image {
    width: 34px;
    height: 34px;
    background-image: url(assets/pen.svg);
}

.inovativeIdeas-box .image-box .circle .image {
    width: 26px;
    height: 34px;
    background-image: url(assets/bulb.svg);
}

.loveIsTheAnswer-box .image-box .circle .image {
    width: 36px;
    height: 30px;
    background-image: url(assets/heart.svg);
}

.responsiveLayout-box .image-box .circle .image {
    width: 26px;
    height: 34px;
    background-image: url(assets/phone.svg);
}

.support-box .image-box .circle .image {
    width: 34px;
    height: 28px;
    color: #666d89;
    background-image: url(assets/bubble.svg);
}

.feelLikeAStar-box .image-box .circle .image {
    width: 38px;
    height: 34px;
    color: #666d89;
    background-image: url(assets/star.svg);
}

.text-box {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.loveIsTheAnswer-box .text-box, .feelLikeAStar-box .text-box {
    margin-left: 20px;
}

.text-box h3 {
    margin: -2px 0 11px 0;
    color: #666d89;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 17.86px;
    font-weight: 900;
    text-align: justify;
}

.text-box p {
    margin: 0;
    font-size: 12px;
    line-height: 21.56px;
    font-weight: 400;
    overflow: hidden;
    text-align: justify;
    hyphens: manual;
}

/* portfolio */

.section-three {
    display: flex;
    padding-bottom: 67px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.section-three .text-container > h2 {
    margin: 70px 0 0 0;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    line-height: 17.86px;
    font-weight: 900;
    color:  rgba(118, 126, 158, 255);
    text-align: justify;
}

.section-three .text-container > p{
    margin: 27px 0 0 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    text-align: justify;
}

.button-container {
    margin: 11px 0 19px;
    display: flex;
    justify-content: space-between;
    width: 288px;
    height: 22px;
}

.button-container .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #666d89;
    border-radius: 5px;
    cursor: pointer;
}

.button-container .button:hover {
    border: 1px solid white;
    transition: all .4s ease-in-out;
}

.button-container .button:hover span{
    color: white;
    transition: all .4s ease-in-out;
}

.button-container .button.one {
    width: 29px;
}

.button-container .button.two {
    width: 76px;
}

.button-container .button.three {
    width: 91px;
}

.button-container .button.four {
    width: 54px;
}

.button-container .button span {
    padding: 0 0 2px 1px;
    font-family: 'Lato', sans-serif;
    color:  rgba(118, 126, 158, 255);
    font-size: 12px;
    line-height: 21,56px;
    font-weight: 400;
    text-align: justify;
}

.portfolio-image-container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio-item {
    width: 23.5%;
    cursor: pointer;
    margin-bottom: 1.9607%;
}

.portfolio-image-container .portfolio-item:hover {
    opacity: 0.4;
}

.selected {
    border: 1px solid white !important;; 
}

.selected span {
    color: white !important;
}

.active-image {
    border: 5px solid #F06C64 !important;
    box-sizing: border-box !important;
}

/*  About Us   */

.section-aboutUs {
    display: flex;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.section-aboutUs .text-container {
    margin-top: 51px;
}

.section-aboutUs .text-container > h2 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    letter-spacing: -0.2px;
    font-weight: 900;
    line-height: 36px;
    color: #666D89;
}

.section-aboutUs .text-container > p {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
}

.person-container {
    margin: 45px 0 67px 0;
    display: flex;
    justify-content: space-between;
}

.jensen-box, .miles-box, .visari-box {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.miles-box {
    margin: 0 1.9607%;
}

.person-image-box {
    width: 100%;
}

.person-container h3 {
    margin: 18px 0 0 0;
    font-family: 'Lato', sans-serif;
    color:  rgba(118, 126, 158, 255);
    font-size: 18px;
    line-height: 17.86px;
    font-weight: 900;
    text-align: justify;
    overflow: hidden;
    width: 100%;
    height: 17px;
    letter-spacing: -.1px;
}

.person-container p {
    margin: 9px 0 0 0;
    font-size: 12px;
    line-height: 21.56px;
    font-weight: 400;
    text-align: justify;
}

.person-container > .jensen-box > p {
    letter-spacing: -.1px;
}

.person-container .contact-box {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.person-container .contact-box > .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #69708b;
    border-radius: 50%;
    cursor: pointer;
}

.person-container .contact-box > .circle:hover {
    background-color: #4c6ef5;
}

.person-container .contact-box > .circle:hover .fa-facebook-f{
    color: white;
}

.person-container .contact-box > .circle:hover .fa-twitter{
    color: white;
}

.person-container .contact-box > .circle:hover .fa-linkedin-in{
    color: white;
}

.fab {
    color: #666d89;
}

.contact-box .circle:not(:first-child) {
    margin-left: 8px;
}

/*  Get a quote   */

.section-five {
    display: flex;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.section-five > .content > .text-container > h2 {
    color: rgba(240, 216, 217, 255);
    font-family: 'Lato', sans-serif;
    margin-top: 69px;
    font-size: 30px;
    font-weight: 900;
    line-height: 17.86px;
    text-align: justify;
}

.section-five > .content > .text-container > p {
    margin-top: 27px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
    color: rgba(240, 216, 217, 255);
}

.main-container {
    margin: 28px 0 64px 0;
    display: flex;
    justify-content: flex-start;
}

.main-container > .contact-box {
    margin-left: 20px;
    width: 32%;
}

.main-container > .contact-box h3 {
    margin: 1px 0 0 0;
    font-weight: 900;
    font-size: 18px;
    line-height: 17.86px;
    color: rgba(240, 216, 217, 255);
    font-family: 'Lato', sans-serif;
    letter-spacing: -.1px;
}

.main-container > .contact-box p {
    margin-top: 11px;
    letter-spacing: -.1px;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    text-align: justify;
    color: rgba(240, 216, 217, 255);
    font-family: 'Lato', sans-serif;
}

.main-container .contact-box > .contacts {
    margin-top: 22px;
}

.main-container .contact-box > .contacts i {
    margin-left: 4px;
    font-size: 11px;
}

.main-container .contact-box > .contacts span {
    color: rgba(240, 216, 217, 255);
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    line-height: 21.56px;
    font-weight: 400;
}

.main-container .contact-box > .contacts > .adres span{
    margin: 2px 0 0 7px;
}

.main-container .contact-box > .contacts > .number-phone span{
    margin-left: 5px;
}

.main-container .contact-box > .contacts > .mail{
    margin-top: 3px;
}

.main-container .contact-box > .contacts > .mail span{
    margin-left: 4px;
}

.main-container .contact-box > .contacts a {
    text-decoration: none;
}

.main-container > form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 64.3%;
}

form > input, textarea {
    background-color: #d6564f;
    border: 1px solid #d6564f;
    border-radius: 5px;
}

form > input {
    margin-bottom: 16px;
    padding: 10px 10.8px 11px 13.2px;
    font-family: "Lato";
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    color: #f2888b;
}

form > input::placeholder, textarea::placeholder{
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    line-height: 21.56px;
    font-weight: 400;
    color: rgba(244, 140, 143, 255);
}

form > textarea::placeholder {
    font-family: 'Lato', sans-serif;
}

form > button {
    margin-top: 16px;
    height: 34px;
    width: 100px;
    cursor: pointer;
    font-family: "Lato";
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    color: #f2888b;
    background-color: #d6564f;
    border: 1px solid #d6564f;
    border-radius: 5px;
}

form > button:hover {
    background-color: white;
}

form > textarea {
    padding: 7px 10.8px 11px 13.2px;
    height: 183px;
    background-color: d6564f;
    font-family: "Lato";
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    color: #f2888b;
    resize: none;
}

.contact-box .fa-map-marker-alt, .fa-phone, .fa-envelope {
    font-size: 12px;
    color: rgba(240, 216, 217, 255);
}

footer {
    background-color: #2d303a;
}

.content.footer-section {
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content.footer-section > span {
    font-family: 'Lato', sans-serif;
    padding-bottom: 2px;
    color: #69708b;
    font-size: 12px;
    text-align: justify;
}

.social-contact-box {
    display: flex;
    justify-content: space-between;
    width: 152px;
}

.circle > .fab {
    color: #69708b;
}

.social-contact-box > .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #69708b;
    border-radius: 50%;
    cursor: pointer;
}

.social-contact-box > .circle:hover {
    background-color: #4c6ef5;
}

.social-contact-box > .circle:hover .fa-facebook-f{
    color: white;
}

.social-contact-box > .circle:hover .fa-twitter{
    color: white;
}

.social-contact-box > .circle:hover .fa-linkedin-in{
    color: white;
}

.height100percents {
    height: 100%;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9998;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.dark-background {
    position: absolute;
    z-index: 9996;
    width: 100vw;
    height: 100vh;
    background: #2d303a;
    opacity: 0.6;
    transition: opacity 0.6s;
    cursor: pointer;
}

.modal-window {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 20%;
    max-width: 70%;
    padding: 30px 40px;
    background-color: white;
    border-radius: 5px;
}

.transparent {
    pointer-events: none;
    opacity: 0;
}

.hidden {
    display: none;
}

.modal-window.hidden {
    display: none;
}

.modal-window h3 {
    padding: 5px 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.modal-window span {
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
    max-height: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal-window span:first-child {
    margin-top: 0;
}

.modal-window button {
    padding: 11px 50px 12px;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(97, 96, 93);
    color: white;
    cursor: pointer;
    line-height: 14px;
    border: none;
    border-radius: 5px;
}

.modal-button{
    width: 100%;
    margin-top: 29px 
}

/*      media query     */

@media (max-width: 1019px){
    .icon-description-container{
        margin-top: 14px;
    }

    .icon-description-container > .item-responsive {
        flex-basis: 32%;
        margin: 26px 43px 26px 10px;
    }

    .section-three {
        padding-bottom: 56px;
    }

    .button-container {
        margin-bottom: 20px;
    }

    .portfolio-item {
        width: 32.333%;
    }
}

@media (max-width: 767px) {
    .slider-section, .section-two, .section-three, .section-four, .section-five {
        scroll-margin-top: 70px;
    }

    .content {
        padding: 0px 30px;
    }

    .burger {
        display: block;
    }

    .content-header {
        justify-content: left;
    }

    h1 {
        margin-left: calc(50vw - 80px);
        z-index: 9998;
        font-size: 19.69px;
        line-height: initial;
        transition: margin-left 0.6s;
    }

    h1.to-left {
        margin: 0 0 0 31px;
    }

    nav {
        position: absolute;
        top: 0;
        left: -100%;
        z-index: 9997;
        display: flex;
        margin: 0;
        height: 100vh;
        width: 74.1333%;
        background-color: #2d303a;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
        transition: left 0.6s;
    }
    
    nav.active {
        left: 0;
    }

    nav.to-right {
        left: 0;
    }

    nav ul {
        position: relative;
        padding-inline-start: 0;
        top: 233px;
        left: 72px;
    }

    nav ul li {
        display: block;
        margin-bottom: 30px;
    }

    nav ul li a {
        font-size: 24px;
        font-weight: bold;
        letter-spacing: -0.04em;
    }

    nav li:not(:first-child) a {
        margin-left: 0;
    }

    nav li:not(:first-child) a::before {
        content: none;
        left: 0;
    }

    .icon-description-container{
        margin: 30px 0 0;
        width: 97%;
    }

    .icon-description-container .item-responsive {
        display: flex;
        justify-content: flex-start;
        min-height: 60px;
        margin: 0 0 28px 0;
        flex-basis: 100%;
    }

    .icon-description-container .item-responsive:last-child {
        margin-bottom: 21px;
    }

    .section-three {
        padding-top: 43px;
        padding-bottom: 29px;
        border: none;
    }

    .section-three .button-container {
        margin-top: 16px;
    }

    .section-three .portfolio-item {
        width: 49%;
    }

    .section-three .portfolio-item:nth-child(n + 9) {
        display: none;
    }

    .section-aboutUs .person-container {
        margin: 7.6% 0 45px 0;
        flex-direction: column;
    }

    .person-container .jensen-box, .miles-box, .visari-box {
        width: 100%;
        max-width: none;
    }

    .miles-box {
        margin: 4.8% 0;
    }

    .section-five .main-container {
        margin: 20px 0 42px 0;
        flex-direction: column;
    }

    .section-five .main-container > .contact-box {
        margin-left: 0;
        margin-top: 32px;
        width: 100%;
    }

    .section-five .main-container > form {
        width: 100%;
    }

    .section-five form > button {
        width: 100%
    }

    footer .content.footer-section {
        justify-content: center;
    }

    footer .content.footer-section > span {
        display: none;
    }
}

@media (max-width: 374px) {
    .phone {
        width: 70.4px;
        height: 151.5px;
    }

    .phone-frame {
        width: 63.4px;
        height: 134px;
    }
    .phone-display {
        top: 18.6px;
        width: 56px;
        height: 98px;
    }

    .phone-shadow {
        width: 70.4px;
        height: 140.9px;
    }
}

@media (max-width: 350px) {
    .section-three .button-container span {
      font-size: 10px;
    }

    .section-three .button-container {
        width: 100%;
        flex-wrap: wrap;
    }
}